packages:
  yum:
    freetype-devel: []
    libpng-devel: []
    ncurses: []
    libevent-devel: []
    python-devel: []
    numpy: []
    gcc-c++: []
    lapack: []
    lapack-devel: []
    blas: []
    blas-devel: []
    mod24_ssl : []
    python-pygame : []

container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03killhttpd:
    command: "killall httpd"
  04waitforhttpddeath:
    command: "sleep 3"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: idverify/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: idverify.settings
  - option_name: AWS_SECRET_KEY
    value: /k0os64DamXOBbHKna8bnF8ZBUMhUAF7ykkHLhpi
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAJFFZATYS6ZFT4D7Q

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      WSGIPassAuthorization On
      Listen 443
      <VirtualHost *:80>
        ServerName myserver
        Redirect permanent / https://myserver
      </VirtualHost>

      <VirtualHost *:443>
        ServerName myserver


        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"

        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>

        WSGIScriptAlias / /opt/python/current/app/retail/wsgi.py

        <Directory /opt/python/current/app>
        Require all granted
        </Directory>

        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib/python2.7/site-packages user=wsgi group=wsgi \
          home=/opt/python/current/app
        WSGIProcessGroup wsgi-ssl
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDtjCCAp4CCQDtCyjVpFVI0DANBgkqhkiG9w0BAQUFADCBnDELMAkGA1UEBhMC
      VVMxCzAJBgNVBAgMAkNBMRQwEgYDVQQHDAtTYW50YSBDbGFyYTESMBAGA1UECgwJ
      THVtZW5EYXRhMRQwEgYDVQQLDAtFbmdpbmVlcmluZzEWMBQGA1UEAwwNbHVtZW5k
      YXRhLmNvbTEoMCYGCSqGSIb3DQEJARYZYW50aG9ueS55ZWVAbHVtZW5kYXRhLmNv
      bTAeFw0xNTA0MDIwMDIzMjRaFw0xNjA0MDEwMDIzMjRaMIGcMQswCQYDVQQGEwJV
      UzELMAkGA1UECAwCQ0ExFDASBgNVBAcMC1NhbnRhIENsYXJhMRIwEAYDVQQKDAlM
      dW1lbkRhdGExFDASBgNVBAsMC0VuZ2luZWVyaW5nMRYwFAYDVQQDDA1sdW1lbmRh
      dGEuY29tMSgwJgYJKoZIhvcNAQkBFhlhbnRob255LnllZUBsdW1lbmRhdGEuY29t
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAnsvlNTSGUUaDfSI4Xhbc
      aOpk5COMjxuYOm28qHrhRkcE0c/RuQCw5mGLJdy+Kl9CLCLFnCfJ5VEdJh4WN0HD
      SwZi3qxpopkJMkAdndbsPBvAH/sApKh/SuyxYigKD5SKsCskmeRzED3leCFNfB3j
      kBSDrHHLH+HWgwhMp4lwHHahUSJXML4FTtGHkWvtGLavGkK+jJUKqreQSWMgfzrW
      pg6SXdRcsGJrXN3jhXnAonbVT8B03sFJebYSHbWm+K3KLl15PClr6siHj+5hFRoo
      IKYVMAEmkWlfkMGw/VM9S4h5snip2RBkJ1rTuj6L+DPnUGiurYD5M6H0aUI0MwSt
      KwIDAQABMA0GCSqGSIb3DQEBBQUAA4IBAQBWHnO/lHq+KPXFaLYAeN0fcnlNsxVy
      66AW5A5BDlpCCkgfDsaB7RdC6pFXpQdAsQvmTYbSLI1oqv46d2lHyHnJDidlP6uD
      zsYH6UxiNlvUivfFpwP5xN2H/QUgibrheK+CzOkE4/eNC3Zid/7C2UJwyNgU7bbc
      43YowZPFs6D0+0DLbjzH4/Fmep5E3DXGQ2DP/PTpLz49LTkGvmJs4behhC0eSTJV
      gc9I8df0RRBvI8MtrJ3MdpZUx/UDNqL9JhJVfZpSqxvwzNd3bXVpyE6fY2Gir1cD
      FbWLuGJVAmQnOLkQYC76xIvn0081woH3yMcM8rdkuoYEW9OlJP/zLzVX
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAnsvlNTSGUUaDfSI4XhbcaOpk5COMjxuYOm28qHrhRkcE0c/R
      uQCw5mGLJdy+Kl9CLCLFnCfJ5VEdJh4WN0HDSwZi3qxpopkJMkAdndbsPBvAH/sA
      pKh/SuyxYigKD5SKsCskmeRzED3leCFNfB3jkBSDrHHLH+HWgwhMp4lwHHahUSJX
      ML4FTtGHkWvtGLavGkK+jJUKqreQSWMgfzrWpg6SXdRcsGJrXN3jhXnAonbVT8B0
      3sFJebYSHbWm+K3KLl15PClr6siHj+5hFRooIKYVMAEmkWlfkMGw/VM9S4h5snip
      2RBkJ1rTuj6L+DPnUGiurYD5M6H0aUI0MwStKwIDAQABAoIBACFqaKZEkktCGmNX
      syLhjqopQOfdLzPiK6uH8h5GFWezhCkeoVRb993TAvQJup6yAvvEqW7N1KeD5S1j
      QWuJVC5SfrW69FO5/nxrj4/qbTXM5SYVrLH5nyfGHSG5qTxUFscxnPchYrE1RTd9
      Uo/evkdQedDs9UCVRo22TmMnAceLPlQTk6fTLRBmW4rK8W8DQ8en7xPd4PK8WTUp
      0IzECvm4Hyg0cskvTCiLbwqfW2Mtr1+stG5367tMTYA0Y8aPRRkhSU2bRNtUGCRk
      +A2hYjI0WSC883LwL9MiRaIncV4IjzLsXKGPD3+S+O8W3s3QpuAb+I6eL3PK+NZ/
      Qv4+abECgYEAzCV66btep93UNhrGF32wSBTtP1wVJsIoJNa4dey4NH/ReyAeI3q8
      BfXa1uO8pzUURCWQUrZ+71Y8DjrZtvn6pKAn//OnTDJCsegdrenLMBotyD9+rLlV
      TfzXfg7FWDvHOcfAPTgVS/WE7fy9yT1JkPCWr6ACp1q6Unv/OFpxrXMCgYEAxyGO
      vnWPr6U8btO7O67y0o6Jg8v2zqSA3hUcDash1UHbuyURVHw0rIA/EhaVlDEg9Kxn
      omLWQcx0FCzHQkQt+7ncjL0zwvhEudufPXz+0VkVPjxy4TQ2ZU8LgUcUOWu3bPW8
      f3P4wSkL7KT8L9kqEcB/lWHUQ6pqZV27ZEonE2kCgYEApDmOfFKX3fDM002Mh787
      vXDgPjUkas6MHr6BG5R3xvwAF82JkT8d3KmgB3ii/dvsVrnlNTTMPlsf6s6a7+B/
      KkoQg42NyvUvxBCXN525MBQPOmUh0W8yWY+KB0V4qfdE2I2Bb34bW8TBz/We8zGT
      ab6xac0N9XU+KDbJ5JqVklMCgYEAxKnyxU1r9AfX8Iix8NbuwF6/l2fYP+udzjfA
      9grepjSd421PeUYV64vZPm8JmUsQBjVDQNAmVOOsfMRgoqSdWXANTv4JYfQ6Q+iQ
      k3SgYXd+kHG474vWcSWo8iuV4MPuavEjEikiMvrr6PJkkokCkHeySYFN1uo2nBf/
      W6QUhYkCgYATPAN3io88/D+g2aoOJcTDfs0nsXIv8mmtBvrU6DN/Y4x0yTNkP0RD
      WlWsEQVcVI/RU7O1humkE2xGJmS01K7oHn71HtdLvmdr2Pm7v7V0H5jd98JvZUVk
      Ym5ocBMFw4CqYnmjuNQMk71zErESpT+OBO1PB4hq+Pwx3UiYhb/PmA==
      -----END RSA PRIVATE KEY-----
